body {
    background: brown;
}

h1 {
    text-align: center;
}

#rules {
    margin-top: 20px;
    margin-bottom: 20px;
    color:black;
}

#options {
    color: white;
}

#play {
    width: 100px;
    height: 30px;
}

#rps {
    width: 150px;
}

#game {
    color: black;
}